# Ignore IDE-specific files
*.iml
.idea/

# Ignore Gradle files
.gradle
local.properties

# Ignore build output
/build
/captures
.externalNativeBuild
.cxx

# Ignore macOS-specific files
.DS_Store

# Other potentially unnecessary files
/local.properties
